.linea--fast
    font-family: $text-font-family
    
    font-weight: 300
    .card
        border: none
    .card-title
        color: $main-font-color
        font-weight: 600
    .card-text
        ul
            list-style: none
            padding-inline-start: 0.35em
            color: $main-font-color
            font-size: clamp(0.95rem, 2.5vw, 1rem)
            strong
                font-weight: 600