@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
/* Variables */
* {
  margin-inline: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-wrap: pretty;
}

.navbar a {
  color: #707070;
  margin-right: 0;
}
.navbar a:hover {
  color: #707070;
  transition: all 0.5s ease-in-out;
}
.navbar .nav-item {
  font-weight: 400;
}
.navbar .nav-link:hover {
  color: #fff;
  background-color: #6B6B6B;
  transition: all 0.5s ease-in-out;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #707070;
  text-transform: uppercase;
  font-size: clamp(0.8rem, 1vw, 1.1rem + 5px);
  margin-left: 0;
}
.navbar-brand img {
  margin-right: 0.5em;
}

.dropdown-menu a {
  color: #707070;
}
.dropdown-menu a:hover {
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.dropdown-item {
  color: #707070;
  text-transform: capitalize;
}
.dropdown-item:hover {
  background-color: #6B6B6B;
  transition: all 0.3s ease-in-out;
}

.imgmain {
  background-image: url("../images/soluciones-desechables-main.jpg");
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -1;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: clamp(1rem, 5vw, 5.25ch);
  align-content: center;
}
@media (width <= 450px) {
  .imgmain {
    height: 100dvh;
  }
}
.imgmain::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}
.imgmain h3 {
  width: 70%;
  font-size: clamp(1.1rem, 3vw, 1.35rem);
  padding-block: 0.75em;
  line-height: 1.25;
  font-weight: 400;
}

.welcome {
  margin-top: calc(8rem - 20px);
  color: #707070;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: left;
  padding: 0;
}
@media (max-width: 991px) {
  .welcome {
    margin-top: 50px;
  }
}
.welcome h1 {
  color: #2A00D5;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.5rem, 3vw, 1.8rem);
  text-transform: uppercase;
  margin-bottom: 40px;
}
.welcome p > span {
  font-weight: 600;
}

.productos {
  margin-top: 60px;
  color: #707070;
  font-family: "Lato", sans-serif;
}
.productos h2 {
  font-size: clamp(1.5rem, 3vw, 1.8rem);
  text-transform: uppercase;
  color: #2A00D5;
  margin-bottom: 60px;
}
.productos .card {
  border: none;
  font-family: "Lato", sans-serif;
  color: #707070;
}
.productos .card-img-top {
  height: 210px;
  border-radius: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.productos .card-img-center {
  height: 300px;
  width: 100%;
  border-radius: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.productos .card-title {
  font-family: "Montserrat", sans-serif;
  color: #2A00D5;
  text-transform: uppercase;
  font-weight: 600;
  padding-block: 1em;
}
.productos .btn {
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
}
.productos .btn-primary {
  background-color: #4E4992;
}

.servicios, .contacto {
  margin-top: 30px;
  color: #707070;
  font-family: "Lato", sans-serif;
}
.servicios h2, .contacto h2 {
  font-size: clamp(1.5rem, 3vw, 1.8rem);
  text-transform: uppercase;
  color: #2A00D5;
  margin-bottom: 60px;
}
.servicios input[type=text], .servicios input[type=tel], .servicios input[type=email], .servicios textarea, .contacto input[type=text], .contacto input[type=tel], .contacto input[type=email], .contacto textarea {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #707070;
}
.servicios .btn, .contacto .btn {
  border: none;
  margin-bottom: 30px;
}
.servicios .btn-primary, .contacto .btn-primary {
  background-color: #4E4992;
}

.acerca p {
  font-weight: 300;
  font-family: "Lato", sans-serif;
  color: #707070;
}
.acerca p strong {
  font-weight: 500;
}
.acerca h3 {
  text-align: right;
  font-size: clamp(1.1rem, 2vw, 1.35rem);
  color: #4E4992;
  font-weight: 400;
}
@media (width <= 576px) {
  .acerca h3 {
    text-align: left;
    padding-block: 1em;
  }
  .acerca h3 br {
    display: none;
  }
}
.acerca img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
}

.quote p {
  font-family: "Merriweather", serif;
  font-size: clamp(1.75rem, 3vw, 2.5rem);
  font-weight: 600;
  font-style: italic;
  color: #6B6B6B;
}

.dropdown-toggle .dropdown-toggle-split {
  border: none;
  text-decoration: none;
}

.main--service {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #533FA6;
  height: 450px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
}
@media (width <= 576px) {
  .main--service {
    width: 100%;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    padding-top: 2em;
  }
}
.main--service .half-width-image {
  width: 65%;
}
@media (width <= 576px) {
  .main--service .half-width-image {
    width: 100%;
  }
}
.main--service .half-width-image img {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main--service h2 {
  color: #fff;
  text-transform: uppercase;
  line-height: 1.25;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.main--service p {
  font-family: "Lato", sans-serif;
  font-size: 1.15rem;
  color: #fff;
  font-weight: 300;
}

.servicios-welcome {
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
  margin-bottom: 25px;
  color: #707070;
}
.servicios-welcome h1 {
  font-size: clamp(1.15rem, 5vw, 2.5rem);
  color: #2A00D5;
  font-weight: 600;
  text-transform: uppercase;
}
.servicios-welcome h2 {
  font-size: clamp(1.25rem, 3vw, 1.5rem);
  text-transform: uppercase;
  color: #533FA6;
  padding-bottom: 2em;
}
@media (width <= 991px) {
  .servicios-welcome h2 {
    padding-block: 2em;
  }
}
.servicios-welcome p {
  line-height: 1.5;
  font-weight: 300;
  color: #707070;
  font-family: "Lato", sans-serif;
}
.servicios-welcome p strong {
  font-weight: 500;
}
.servicios-welcome .margin-separador {
  margin-top: 5em;
  margin-bottom: 5em;
}
@media (width <= 991px) {
  .servicios-welcome .margin-separador {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
}

.productos-principal {
  width: 100%;
  height: 450px;
  background-image: url(../images/soluciones-desechables-plasticos-aluminios.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-position: center;
     object-position: center;
  position: relative;
  z-index: -1;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: clamp(1rem, 5vw, 5.25ch);
  align-content: center;
}
@media (max-width: 991) {
  .productos-principal {
    height: 250px;
  }
}
.productos-principal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

.contacto-principal {
  width: 100%;
  height: 450px;
  background-image: url(../images/contacto.png);
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-position: center;
     object-position: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: clamp(1rem, 5vw, 5.25ch);
  align-content: center;
}
@media (max-width: 991) {
  .contacto-principal {
    height: 250px;
  }
}
.contacto-principal h2 {
  font-size: clamp(1.725rem, 5vw, 2.8rem);
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.65);
}

.logo {
  padding-block: 1.25em;
}
.logo span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: clamp(1rem, 5vw, 2.75ch);
  padding-inline: 0.5em;
}

.contacto p, .contacto dl {
  font-size: clamp(1.15rem, 4vw, 1.25rem);
  font-weight: 400;
}

.linea--fast {
  font-family: "Lato", sans-serif;
  margin-bottom: 2em;
}
.linea--fast .catalogo {
  color: #2A00D5;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.linea--fast .catalogo .ctl-main-title {
  padding-block: 2.5em;
}
.linea--fast .catalogo .ctl-main-title h2 {
  font-weight: 500;
  text-align: center;
}

.ctl-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  gap: 2em;
}

.productos_ctl {
  background: #f8f8f8;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: start;
}
@media (max-width: 450px) {
  .productos_ctl {
    flex-direction: column;
    align-content: center;
  }
}

.image {
  padding: 0.25em;
  width: 300px;
}
@media (max-width: 450px) {
  .image {
    height: auto;
  }
}
.image img {
  width: 100%;
  height: auto;
}

.descripcion {
  padding: 0.875em;
}
.descripcion h3 {
  font-size: 1.5rem;
  color: #6B6B6B;
  font-weight: 500;
}
.descripcion dd {
  font-size: clamp(0.85rem, 1vw, 1rem);
  text-wrap: pretty;
  line-height: 1.15;
  color: #707070;
  font-weight: 300;
}

footer {
  background-color: #6B6B6B;
  color: #fff;
  padding-block: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
}
footer a {
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
}
footer a:hover {
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}
footer span {
  font-size: 1.1rem;
  font-weight: 600;
}
footer dt {
  font-weight: 500;
  padding-block: 0.85em;
  line-height: 1.15;
}
footer dd {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding: 0;
}
footer .bi {
  font-size: 1.15em;
}
footer .creditos {
  font-size: 0.85rem;
  color: #fff;
  line-height: 1.5;
}
footer .creditos a {
  color: #fff;
  font-size: 0.85rem;
  text-decoration: none;
}
footer .creditos a:hover {
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}
@media (max-width: 768px) {
  footer {
    text-align: center;
  }
}/*# sourceMappingURL=styles.css.map */